h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
.container {
  width:100vw;
  min-height:100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
}
.banner-background {
  position: relative;
  height:100vh;
  min-height: 768px;
  width: 50%;
  background: transparent linear-gradient(140deg, #58cfe6 0%, #366bb1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 0px 6px #00000029;
  opacity: 1;
}
.banner-text {
  color: white;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.25rem;
  position: absolute;
  top: 5%;
  left: 3.5rem;
}
.dimension-0 {
  width: 0;
  height: 0;
}
.triangle-top-l {
  top: 5%;
  right: 17.5%;
  position: absolute;
  border-top: 42px solid transparent;
  border-right: 74px solid rgba(98, 180, 216, 0.95);
  border-bottom: 42px solid transparent;
  transform: rotate(15deg);
}
.triangle-top-m {
  position: absolute;
  left: 2%;
  top: 16.3%;
  border-top: 26px solid transparent;
  border-right: 47px solid rgb(105, 203, 228);
  border-bottom: 26px solid transparent;
  transform: rotate(42deg);
}
.triangle-top-s {
  position: absolute;
  left: 45.3%;
  top: 25.1%;
  border-top: 16px solid transparent;
  border-right: 27px solid rgba(99, 184, 217, 0.95);
  border-bottom: 16px solid transparent;
  transform: rotate(44deg);
}
.triangle-bottom-s {
  position: absolute;
  left: 12.25%;
  bottom: 10.4%;
  border-top: 16px solid transparent;
  border-right: 26px solid rgb(92, 164, 207);
  border-bottom: 16px solid transparent;
  transform: rotate(-5deg);
}
.triangle-bottom-m {
  position: absolute;
  bottom: 18.1%;
  right: 16.8%;
  border-top: 23px solid transparent;
  border-right: 40px solid rgb(85, 143, 196);
  border-bottom: 23px solid transparent;
  transform: rotate(42deg);
}
.banner-female-image {
  position: absolute;
  right: 10.9%;
  top: 28%;
}
.banner-male-image {
  position: absolute;
  left: 10.74%;
  top: 35.57%;
}

.content {
  width:50%;
  height: 100vh;
  min-height: 768px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.content .header-container {
  width: 70%;
  position: absolute;
  top: 12.5%;
  left:18%;
}
.header-container p {
  margin: 0.5rem 0;
  color: #a5a5a5;
  font-weight: 600;
  letter-spacing: 0.03rem;
  width: 80%;
  font-size: 1rem;
}
.content-header {
  margin: 0.8rem 0;
  color: #36639e;
  font-size: 2rem;
}
.form-container {
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  left:18%;
  top:32.5%;
}
form {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.02rem;
  width: 100%;
  align-items: center;
  text-align: left;
}
form h3 {
  font-size: 1.12rem;
  margin: 0.7rem 0;
  width: 100%;
}
form .input-container {
  width: 100%;
}
form input {
  margin-bottom: 2rem;
  padding: 1.1rem 0.2rem 1.1rem 0.8rem;
  width: calc(100% - 1rem);
  color: #676767;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 2px solid #58cfe6;
  font-size: 0.8rem;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #c3dfe4;
}
form input:focus {
  border-color: #2c7feb;
  outline: none;
}
form button {
  background: #ff6f5e 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 7px #c9e4e9;
  border-radius: 5px;
  opacity: 1;
  outline: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  padding: 1rem 2.5rem;
  width: fit-content;
}
form button i {
  font-size: 1.5rem;
  margin-left: 1rem;
  position: relative;
  top: 0.2rem;
}
.policy-agreement {
  width: 60%;
  color: #363636;
  font-size: 0.8rem;
  margin-top: 2.5rem;
}
.policy-agreement span {
  color: #58cfe6;
  font-weight: 600;
  text-decoration: underline;
}
.copyright-container {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  width: 75%;
  position: absolute;
  bottom:7%;
  left:15%;
}
.copyright {
  color: #383838;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.copyright-container img {
  width: 62px;
  height: 46px;
}
@media (min-width:1000px) and (max-width:1300px){
  .banner-female-image{
    width:150px;
    height:256.5px;
  }
  .banner-male-image{
    width:250px;
    height:295.25px;
  }
  .form-container,.header-container{
    left:10%!important;
    width:80%!important;
  }
  .header-container p{
    width:100%!important;
  }
  .policy-agreement{
    width:80%;
  }
  .copyright-container{
    left:7%;
    width:85%;
  }
}
@media (max-width:999px){
  .container{
    flex-direction: column;
  }
  .banner-background{
    width:100%;
  }
  .content{
    width:100%;
  }
  .form-container,.header-container{
    left: 15%!important;;
  }
  .copyright-container{
    left:13%;
  }
}

@media (max-width:549px){
  .banner-female-image{
    display: none;
  }
  .banner-male-image{
    width:300px;
    height:354.3px;
  }
  .triangle-bottom-m{
    bottom:14%;
  }
  .form-container,.header-container{
    left:7%!important;
    width:85%!important;
  }
  .header-container p{
    width:100%!important;
  }
  .policy-agreement{
    width:80%;
  }
  .copyright-container{
    left:5%;
    width:90%;
  }
}